/* .Home {
  background-color: #ee6c4d;
  height: 100vh;
} */

.Header {
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
}

.Content {
  font-size: 72px;
  text-align: center;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
