body {
  font-family: "Open Sans", sans-serif;
}

/* #wrapper {
  position: relative;
} */

/* #modal {
  --height: 350px;
  --width: 500px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  height: var(--height);
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
} */
